<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c71dd0b53a8e68da44cf4029c3ab31e1 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_c71dd0b53a8e68da44cf4029c3ab31e1" ></div>
        
</body>
<script>
    
    
            var map_c71dd0b53a8e68da44cf4029c3ab31e1 = L.map(
                "map_c71dd0b53a8e68da44cf4029c3ab31e1",
                {
                    center: [50.95918663216715, 4.268531611309669],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 12,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_4dc280bec42ee02d89ebebd6f85304a0 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_4dc280bec42ee02d89ebebd6f85304a0.addTo(map_c71dd0b53a8e68da44cf4029c3ab31e1);
        
    
            var marker_4917705c00c4dbb63f216f8f6d0c7363 = L.marker(
                [50.4549568, 3.951958],
                {
}
            ).addTo(map_c71dd0b53a8e68da44cf4029c3ab31e1);
        
    
        var popup_500273848915d0b165bd1d2c31363237 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e93fb1ce698bff6202b2768fdeb424d7 = $(`<div id="html_e93fb1ce698bff6202b2768fdeb424d7" style="width: 100.0%; height: 100.0%;">Company N</div>`)[0];
                popup_500273848915d0b165bd1d2c31363237.setContent(html_e93fb1ce698bff6202b2768fdeb424d7);
            
        

        marker_4917705c00c4dbb63f216f8f6d0c7363.bindPopup(popup_500273848915d0b165bd1d2c31363237)
        ;

        
    
    
            marker_4917705c00c4dbb63f216f8f6d0c7363.bindTooltip(
                `<div>
                     Company N
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_1b87abbd7b6f65d96ffbcff498f9b3f3 = L.marker(
                [50.7436672, 3.2142729],
                {
}
            ).addTo(map_c71dd0b53a8e68da44cf4029c3ab31e1);
        
    
        var popup_5a0e9107f91bb31bace1b394cc67ff84 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_455e4c81005bac63e068f5258a028c09 = $(`<div id="html_455e4c81005bac63e068f5258a028c09" style="width: 100.0%; height: 100.0%;">Company O</div>`)[0];
                popup_5a0e9107f91bb31bace1b394cc67ff84.setContent(html_455e4c81005bac63e068f5258a028c09);
            
        

        marker_1b87abbd7b6f65d96ffbcff498f9b3f3.bindPopup(popup_5a0e9107f91bb31bace1b394cc67ff84)
        ;

        
    
    
            marker_1b87abbd7b6f65d96ffbcff498f9b3f3.bindTooltip(
                `<div>
                     Company O
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_fd11afbdf9587b18d78f02514e1e2f50 = L.marker(
                [50.6450944, 5.5736112],
                {
}
            ).addTo(map_c71dd0b53a8e68da44cf4029c3ab31e1);
        
    
        var popup_597dce67cc178c545553a661da49ac7d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c2f9dbafe975c669a97f7b25bc54646b = $(`<div id="html_c2f9dbafe975c669a97f7b25bc54646b" style="width: 100.0%; height: 100.0%;">Company M</div>`)[0];
                popup_597dce67cc178c545553a661da49ac7d.setContent(html_c2f9dbafe975c669a97f7b25bc54646b);
            
        

        marker_fd11afbdf9587b18d78f02514e1e2f50.bindPopup(popup_597dce67cc178c545553a661da49ac7d)
        ;

        
    
    
            marker_fd11afbdf9587b18d78f02514e1e2f50.bindTooltip(
                `<div>
                     Company M
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_7fdbbd927c8a65bec95d5b0e6d4f6205 = L.marker(
                [50.7806267, 5.4639172],
                {
}
            ).addTo(map_c71dd0b53a8e68da44cf4029c3ab31e1);
        
    
        var popup_23930b255ae937e16b7e61a919a7f276 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_73080e9d582dbada2480a1cdcdb7909a = $(`<div id="html_73080e9d582dbada2480a1cdcdb7909a" style="width: 100.0%; height: 100.0%;">Company L</div>`)[0];
                popup_23930b255ae937e16b7e61a919a7f276.setContent(html_73080e9d582dbada2480a1cdcdb7909a);
            
        

        marker_7fdbbd927c8a65bec95d5b0e6d4f6205.bindPopup(popup_23930b255ae937e16b7e61a919a7f276)
        ;

        
    
    
            marker_7fdbbd927c8a65bec95d5b0e6d4f6205.bindTooltip(
                `<div>
                     Company L
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_e63a0c703890cc7a3388f0c1f2a79cd7 = L.marker(
                [51.003711, 5.5119472],
                {
}
            ).addTo(map_c71dd0b53a8e68da44cf4029c3ab31e1);
        
    
        var popup_a2b2dfb230f01dbf7a83b58a2fe32b77 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3fcb25993b32dd3466c9bc31c89852cc = $(`<div id="html_3fcb25993b32dd3466c9bc31c89852cc" style="width: 100.0%; height: 100.0%;">Company F</div>`)[0];
                popup_a2b2dfb230f01dbf7a83b58a2fe32b77.setContent(html_3fcb25993b32dd3466c9bc31c89852cc);
            
        

        marker_e63a0c703890cc7a3388f0c1f2a79cd7.bindPopup(popup_a2b2dfb230f01dbf7a83b58a2fe32b77)
        ;

        
    
    
            marker_e63a0c703890cc7a3388f0c1f2a79cd7.bindTooltip(
                `<div>
                     Company F
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_badc05e2b21f42219cc6a53ea3197af6 = L.marker(
                [51.1782408, 3.7463295],
                {
}
            ).addTo(map_c71dd0b53a8e68da44cf4029c3ab31e1);
        
    
        var popup_385ab25a3a6cc302a719f028fe3e0232 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5e02e08fc76897bd08549e176460036f = $(`<div id="html_5e02e08fc76897bd08549e176460036f" style="width: 100.0%; height: 100.0%;">Company E</div>`)[0];
                popup_385ab25a3a6cc302a719f028fe3e0232.setContent(html_5e02e08fc76897bd08549e176460036f);
            
        

        marker_badc05e2b21f42219cc6a53ea3197af6.bindPopup(popup_385ab25a3a6cc302a719f028fe3e0232)
        ;

        
    
    
            marker_badc05e2b21f42219cc6a53ea3197af6.bindTooltip(
                `<div>
                     Company E
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_761d764c2604be356d01a5e55598b4c0 = L.marker(
                [50.8465573, 4.351697],
                {
}
            ).addTo(map_c71dd0b53a8e68da44cf4029c3ab31e1);
        
    
        var popup_06bc965414964b0b016885e0f0b97402 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c478b90a9c5759c54ffdf1f96ab1559a = $(`<div id="html_c478b90a9c5759c54ffdf1f96ab1559a" style="width: 100.0%; height: 100.0%;">Company A</div>`)[0];
                popup_06bc965414964b0b016885e0f0b97402.setContent(html_c478b90a9c5759c54ffdf1f96ab1559a);
            
        

        marker_761d764c2604be356d01a5e55598b4c0.bindPopup(popup_06bc965414964b0b016885e0f0b97402)
        ;

        
    
    
            marker_761d764c2604be356d01a5e55598b4c0.bindTooltip(
                `<div>
                     Company A
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_890c52fc3702a7f412467bb3490db9d4 = L.marker(
                [51.3286495, 4.9295943],
                {
}
            ).addTo(map_c71dd0b53a8e68da44cf4029c3ab31e1);
        
    
        var popup_60320e9b3e91f557a4a9b5ba6a66b044 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_deff17d8c0c5f02e60f4b49f69293beb = $(`<div id="html_deff17d8c0c5f02e60f4b49f69293beb" style="width: 100.0%; height: 100.0%;">Company I</div>`)[0];
                popup_60320e9b3e91f557a4a9b5ba6a66b044.setContent(html_deff17d8c0c5f02e60f4b49f69293beb);
            
        

        marker_890c52fc3702a7f412467bb3490db9d4.bindPopup(popup_60320e9b3e91f557a4a9b5ba6a66b044)
        ;

        
    
    
            marker_890c52fc3702a7f412467bb3490db9d4.bindTooltip(
                `<div>
                     Company I
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_e83c649820277de19b626484a2309982 = L.marker(
                [50.8950634, 4.3173758],
                {
}
            ).addTo(map_c71dd0b53a8e68da44cf4029c3ab31e1);
        
    
        var popup_495a03a34e89e194ac855192a13f7ee0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_22fe4e4b857a9a24658752b70a0d3942 = $(`<div id="html_22fe4e4b857a9a24658752b70a0d3942" style="width: 100.0%; height: 100.0%;">Company J</div>`)[0];
                popup_495a03a34e89e194ac855192a13f7ee0.setContent(html_22fe4e4b857a9a24658752b70a0d3942);
            
        

        marker_e83c649820277de19b626484a2309982.bindPopup(popup_495a03a34e89e194ac855192a13f7ee0)
        ;

        
    
    
            marker_e83c649820277de19b626484a2309982.bindTooltip(
                `<div>
                     Company J
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_67dc4fec1ec7fa4d5edc1e34c9a45266 = L.marker(
                [51.0710875, 4.4528772],
                {
}
            ).addTo(map_c71dd0b53a8e68da44cf4029c3ab31e1);
        
    
        var popup_f45c8e4cd20cd1b7b801b89774d6d805 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_64e34d0d5fa342e4f25122143b30129d = $(`<div id="html_64e34d0d5fa342e4f25122143b30129d" style="width: 100.0%; height: 100.0%;">Company H</div>`)[0];
                popup_f45c8e4cd20cd1b7b801b89774d6d805.setContent(html_64e34d0d5fa342e4f25122143b30129d);
            
        

        marker_67dc4fec1ec7fa4d5edc1e34c9a45266.bindPopup(popup_f45c8e4cd20cd1b7b801b89774d6d805)
        ;

        
    
    
            marker_67dc4fec1ec7fa4d5edc1e34c9a45266.bindTooltip(
                `<div>
                     Company H
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_909c77fd23c28311bf09b5733c68a860 = L.marker(
                [51.2172507, 2.8805494],
                {
}
            ).addTo(map_c71dd0b53a8e68da44cf4029c3ab31e1);
        
    
        var popup_d598e2bd668772b578011d64b171c997 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_4a7da62e42da47b5c6c980a8c6795576 = $(`<div id="html_4a7da62e42da47b5c6c980a8c6795576" style="width: 100.0%; height: 100.0%;">Company G</div>`)[0];
                popup_d598e2bd668772b578011d64b171c997.setContent(html_4a7da62e42da47b5c6c980a8c6795576);
            
        

        marker_909c77fd23c28311bf09b5733c68a860.bindPopup(popup_d598e2bd668772b578011d64b171c997)
        ;

        
    
    
            marker_909c77fd23c28311bf09b5733c68a860.bindTooltip(
                `<div>
                     Company G
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_e3334db8918e1bb82d59f0cdf3103c6d = L.marker(
                [51.2174764, 4.4282503],
                {
}
            ).addTo(map_c71dd0b53a8e68da44cf4029c3ab31e1);
        
    
        var popup_ab9132dabde68193de344b37dfde19f3 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_04d019b7b22e05f7ac70cb4f2ee84aa9 = $(`<div id="html_04d019b7b22e05f7ac70cb4f2ee84aa9" style="width: 100.0%; height: 100.0%;">Company B</div>`)[0];
                popup_ab9132dabde68193de344b37dfde19f3.setContent(html_04d019b7b22e05f7ac70cb4f2ee84aa9);
            
        

        marker_e3334db8918e1bb82d59f0cdf3103c6d.bindPopup(popup_ab9132dabde68193de344b37dfde19f3)
        ;

        
    
    
            marker_e3334db8918e1bb82d59f0cdf3103c6d.bindTooltip(
                `<div>
                     Company B
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_1ebdd7d8945522161fbccc1f19f0c5da = L.marker(
                [50.8276429, 3.2659884],
                {
}
            ).addTo(map_c71dd0b53a8e68da44cf4029c3ab31e1);
        
    
        var popup_15c5d19dc2c37dd01061b11c43311ca2 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_889ebd613ce139150b8c9a5a37cd8ead = $(`<div id="html_889ebd613ce139150b8c9a5a37cd8ead" style="width: 100.0%; height: 100.0%;">Company D</div>`)[0];
                popup_15c5d19dc2c37dd01061b11c43311ca2.setContent(html_889ebd613ce139150b8c9a5a37cd8ead);
            
        

        marker_1ebdd7d8945522161fbccc1f19f0c5da.bindPopup(popup_15c5d19dc2c37dd01061b11c43311ca2)
        ;

        
    
    
            marker_1ebdd7d8945522161fbccc1f19f0c5da.bindTooltip(
                `<div>
                     Company D
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_b4267b0395bd8621d5b2ee3a5b4b5e7b = L.marker(
                [50.9227865, 4.7019883],
                {
}
            ).addTo(map_c71dd0b53a8e68da44cf4029c3ab31e1);
        
    
        var popup_0956cbb478a62f4b68dd0e4899f410e5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1febf224faf3be3e7daf46d2b8478524 = $(`<div id="html_1febf224faf3be3e7daf46d2b8478524" style="width: 100.0%; height: 100.0%;">Company C</div>`)[0];
                popup_0956cbb478a62f4b68dd0e4899f410e5.setContent(html_1febf224faf3be3e7daf46d2b8478524);
            
        

        marker_b4267b0395bd8621d5b2ee3a5b4b5e7b.bindPopup(popup_0956cbb478a62f4b68dd0e4899f410e5)
        ;

        
    
    
            marker_b4267b0395bd8621d5b2ee3a5b4b5e7b.bindTooltip(
                `<div>
                     Company C
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_a004c641f1569475097c1eafc70985b8 = L.marker(
                [51.2085526, 3.226772],
                {
}
            ).addTo(map_c71dd0b53a8e68da44cf4029c3ab31e1);
        
    
        var popup_021f96811a356b09f6d93a5da8cf786e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a100c43138c906c2ad6f10bcfcb2a645 = $(`<div id="html_a100c43138c906c2ad6f10bcfcb2a645" style="width: 100.0%; height: 100.0%;">Company K</div>`)[0];
                popup_021f96811a356b09f6d93a5da8cf786e.setContent(html_a100c43138c906c2ad6f10bcfcb2a645);
            
        

        marker_a004c641f1569475097c1eafc70985b8.bindPopup(popup_021f96811a356b09f6d93a5da8cf786e)
        ;

        
    
    
            marker_a004c641f1569475097c1eafc70985b8.bindTooltip(
                `<div>
                     Company K
                 </div>`,
                {
  "sticky": true,
}
            );
        
</script>
</html>