
a, a:visited {
    color: #F77304;
}

a:hover {
    color: #FF0000;
}

.wy-side-nav-search>a, .wy-side-nav-search>a:hover {
    color: #FFFFFF;
}

.wy-side-nav-search input[type=text] {
    border-color: #2f2f2f;
}

/*
.wy-nav-content {
    max-width: 100%;
}
*/

html.writer-html4 .rst-content dl:not(.docutils)>dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple)>dt {
    background: #ffdfdf ;
    color: #FF0000;
    border-top: 3px solid #FF0000;
 }
