<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c77369d480ef5a030998169fd83d36d5 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_c77369d480ef5a030998169fd83d36d5" ></div>
        
</body>
<script>
    
    
            var map_c77369d480ef5a030998169fd83d36d5 = L.map(
                "map_c77369d480ef5a030998169fd83d36d5",
                {
                    center: [50.8503, 4.3517],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 8,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_0d8e2e6f663ecdc3809262a395342218 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_0d8e2e6f663ecdc3809262a395342218.addTo(map_c77369d480ef5a030998169fd83d36d5);
        
    
            var marker_43647e4719db420171b687d8ba3e6e43 = L.marker(
                [50.8465573, 4.351697],
                {
}
            ).addTo(map_c77369d480ef5a030998169fd83d36d5);
        
    
        var popup_825eeba8c0376460ab86dcf22dc373e5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_55beee3f97aa5ca986ee547c4ceb9abe = $(`<div id="html_55beee3f97aa5ca986ee547c4ceb9abe" style="width: 100.0%; height: 100.0%;"><b>Company A</b><br>Hoofdstraat, 1000, Brussel</div>`)[0];
                popup_825eeba8c0376460ab86dcf22dc373e5.setContent(html_55beee3f97aa5ca986ee547c4ceb9abe);
            
        

        marker_43647e4719db420171b687d8ba3e6e43.bindPopup(popup_825eeba8c0376460ab86dcf22dc373e5)
        ;

        
    
    
            marker_43647e4719db420171b687d8ba3e6e43.bindTooltip(
                `<div>
                     Company A
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_6b8df3b04b3483ebe902951f6c9c2550 = L.marker(
                [51.2174764, 4.4282503],
                {
}
            ).addTo(map_c77369d480ef5a030998169fd83d36d5);
        
    
        var popup_98c89e103c468063538a676c84fd4f26 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_301bec90b4ea449bb85af27e6e363d98 = $(`<div id="html_301bec90b4ea449bb85af27e6e363d98" style="width: 100.0%; height: 100.0%;"><b>Company B</b><br>Kerkstraat, 2000, Antwerpen</div>`)[0];
                popup_98c89e103c468063538a676c84fd4f26.setContent(html_301bec90b4ea449bb85af27e6e363d98);
            
        

        marker_6b8df3b04b3483ebe902951f6c9c2550.bindPopup(popup_98c89e103c468063538a676c84fd4f26)
        ;

        
    
    
            marker_6b8df3b04b3483ebe902951f6c9c2550.bindTooltip(
                `<div>
                     Company B
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_7573955ce1445d1ecc7ff13423d07af5 = L.marker(
                [50.9227865, 4.7019883],
                {
}
            ).addTo(map_c77369d480ef5a030998169fd83d36d5);
        
    
        var popup_eed89a87936e87daf3ab2513524190f2 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d9a47fb7d7b7faf59c401cee169e03b8 = $(`<div id="html_d9a47fb7d7b7faf59c401cee169e03b8" style="width: 100.0%; height: 100.0%;"><b>Company C</b><br>Stationsstraat, 3000, Leuven</div>`)[0];
                popup_eed89a87936e87daf3ab2513524190f2.setContent(html_d9a47fb7d7b7faf59c401cee169e03b8);
            
        

        marker_7573955ce1445d1ecc7ff13423d07af5.bindPopup(popup_eed89a87936e87daf3ab2513524190f2)
        ;

        
    
    
            marker_7573955ce1445d1ecc7ff13423d07af5.bindTooltip(
                `<div>
                     Company C
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_bbdfabec603c82c81c898c4f388ef8c6 = L.marker(
                [50.8276429, 3.2659884],
                {
}
            ).addTo(map_c77369d480ef5a030998169fd83d36d5);
        
    
        var popup_b9556c9141ab5eb3d84cb8ccb2ad0538 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7477c80d32dfbc7da72a6227541a8acf = $(`<div id="html_7477c80d32dfbc7da72a6227541a8acf" style="width: 100.0%; height: 100.0%;"><b>Company D</b><br>Dorpsstraat, 8500, Kortrijk</div>`)[0];
                popup_b9556c9141ab5eb3d84cb8ccb2ad0538.setContent(html_7477c80d32dfbc7da72a6227541a8acf);
            
        

        marker_bbdfabec603c82c81c898c4f388ef8c6.bindPopup(popup_b9556c9141ab5eb3d84cb8ccb2ad0538)
        ;

        
    
    
            marker_bbdfabec603c82c81c898c4f388ef8c6.bindTooltip(
                `<div>
                     Company D
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_65362a1d109438aa3e5353ba48b1230a = L.marker(
                [51.1782408, 3.7463295],
                {
}
            ).addTo(map_c77369d480ef5a030998169fd83d36d5);
        
    
        var popup_bb9126e5ae738e81e5824859854ab94e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9a4553589622d565936adca01c45de13 = $(`<div id="html_9a4553589622d565936adca01c45de13" style="width: 100.0%; height: 100.0%;"><b>Company E</b><br>Marktplein, 9000, Gent</div>`)[0];
                popup_bb9126e5ae738e81e5824859854ab94e.setContent(html_9a4553589622d565936adca01c45de13);
            
        

        marker_65362a1d109438aa3e5353ba48b1230a.bindPopup(popup_bb9126e5ae738e81e5824859854ab94e)
        ;

        
    
    
            marker_65362a1d109438aa3e5353ba48b1230a.bindTooltip(
                `<div>
                     Company E
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_ce5b3c71833b25c1b68e6ae5fe96b50d = L.marker(
                [51.003711, 5.5119472],
                {
}
            ).addTo(map_c77369d480ef5a030998169fd83d36d5);
        
    
        var popup_ed4f05f072738affc268b70d6084df61 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_89c397f84f147fc1b83536c40b46ac95 = $(`<div id="html_89c397f84f147fc1b83536c40b46ac95" style="width: 100.0%; height: 100.0%;"><b>Company F</b><br>Boslaan, 3500, Hasselt</div>`)[0];
                popup_ed4f05f072738affc268b70d6084df61.setContent(html_89c397f84f147fc1b83536c40b46ac95);
            
        

        marker_ce5b3c71833b25c1b68e6ae5fe96b50d.bindPopup(popup_ed4f05f072738affc268b70d6084df61)
        ;

        
    
    
            marker_ce5b3c71833b25c1b68e6ae5fe96b50d.bindTooltip(
                `<div>
                     Company F
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_e2a2ae231df56817ba007647f4b1ac2e = L.marker(
                [51.2212933, 2.8896888],
                {
}
            ).addTo(map_c77369d480ef5a030998169fd83d36d5);
        
    
        var popup_a61cfc74f3750315c8879bb73d3ce28f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_aa237f11cfde99d1d8588829511bf080 = $(`<div id="html_aa237f11cfde99d1d8588829511bf080" style="width: 100.0%; height: 100.0%;"><b>Company G</b><br>Zeedijk, 8400, Oostende</div>`)[0];
                popup_a61cfc74f3750315c8879bb73d3ce28f.setContent(html_aa237f11cfde99d1d8588829511bf080);
            
        

        marker_e2a2ae231df56817ba007647f4b1ac2e.bindPopup(popup_a61cfc74f3750315c8879bb73d3ce28f)
        ;

        
    
    
            marker_e2a2ae231df56817ba007647f4b1ac2e.bindTooltip(
                `<div>
                     Company G
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_eeeff9831e403ed41e1304f5d25af087 = L.marker(
                [51.0710875, 4.4528772],
                {
}
            ).addTo(map_c77369d480ef5a030998169fd83d36d5);
        
    
        var popup_2178dd0b29daf72bb2bae1d3b831e845 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9fca806767f741070c9a32456993fbc2 = $(`<div id="html_9fca806767f741070c9a32456993fbc2" style="width: 100.0%; height: 100.0%;"><b>Company H</b><br>Mechelsesteenweg, 2800, Mechelen</div>`)[0];
                popup_2178dd0b29daf72bb2bae1d3b831e845.setContent(html_9fca806767f741070c9a32456993fbc2);
            
        

        marker_eeeff9831e403ed41e1304f5d25af087.bindPopup(popup_2178dd0b29daf72bb2bae1d3b831e845)
        ;

        
    
    
            marker_eeeff9831e403ed41e1304f5d25af087.bindTooltip(
                `<div>
                     Company H
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_e65267f0f58f219c12b505d16f155071 = L.marker(
                [51.3286495, 4.9295943],
                {
}
            ).addTo(map_c77369d480ef5a030998169fd83d36d5);
        
    
        var popup_e2784b3a868004d28ddc75a83f7352ae = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b78088adc9b46db0ff867191db807368 = $(`<div id="html_b78088adc9b46db0ff867191db807368" style="width: 100.0%; height: 100.0%;"><b>Company I</b><br>Groenplaats, 2300, Turnhout</div>`)[0];
                popup_e2784b3a868004d28ddc75a83f7352ae.setContent(html_b78088adc9b46db0ff867191db807368);
            
        

        marker_e65267f0f58f219c12b505d16f155071.bindPopup(popup_e2784b3a868004d28ddc75a83f7352ae)
        ;

        
    
    
            marker_e65267f0f58f219c12b505d16f155071.bindTooltip(
                `<div>
                     Company I
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_931bb46c72b894063f2ac9a6927a38b1 = L.marker(
                [50.8950634, 4.3173758],
                {
}
            ).addTo(map_c77369d480ef5a030998169fd83d36d5);
        
    
        var popup_0d451eff2ee88f65e1503795e2ee5878 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d76acf98935ec3b150bb205a4bf1283b = $(`<div id="html_d76acf98935ec3b150bb205a4bf1283b" style="width: 100.0%; height: 100.0%;"><b>Company J</b><br>Koningin Astridlaan, 1500, Halle</div>`)[0];
                popup_0d451eff2ee88f65e1503795e2ee5878.setContent(html_d76acf98935ec3b150bb205a4bf1283b);
            
        

        marker_931bb46c72b894063f2ac9a6927a38b1.bindPopup(popup_0d451eff2ee88f65e1503795e2ee5878)
        ;

        
    
    
            marker_931bb46c72b894063f2ac9a6927a38b1.bindTooltip(
                `<div>
                     Company J
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_e898a61eaf30cc729385adeee3cc48c5 = L.marker(
                [51.2085526, 3.226772],
                {
}
            ).addTo(map_c77369d480ef5a030998169fd83d36d5);
        
    
        var popup_adfb994200432f28b3e489103c28df93 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b1b39a14a82df7e28a79fa130cbefb5a = $(`<div id="html_b1b39a14a82df7e28a79fa130cbefb5a" style="width: 100.0%; height: 100.0%;"><b>Company K</b><br>Vrijheidslaan, 8000, Brugge</div>`)[0];
                popup_adfb994200432f28b3e489103c28df93.setContent(html_b1b39a14a82df7e28a79fa130cbefb5a);
            
        

        marker_e898a61eaf30cc729385adeee3cc48c5.bindPopup(popup_adfb994200432f28b3e489103c28df93)
        ;

        
    
    
            marker_e898a61eaf30cc729385adeee3cc48c5.bindTooltip(
                `<div>
                     Company K
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_b01952b6ef7d9aa10e0bb9a769cb5602 = L.marker(
                [50.7806267, 5.4639172],
                {
}
            ).addTo(map_c77369d480ef5a030998169fd83d36d5);
        
    
        var popup_31cf1b82701e53702efb98d15ca37b5f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d8c56f2dc4963fb163458764a0aca95d = $(`<div id="html_d8c56f2dc4963fb163458764a0aca95d" style="width: 100.0%; height: 100.0%;"><b>Company L</b><br>Leopoldlaan, 3700, Tongeren</div>`)[0];
                popup_31cf1b82701e53702efb98d15ca37b5f.setContent(html_d8c56f2dc4963fb163458764a0aca95d);
            
        

        marker_b01952b6ef7d9aa10e0bb9a769cb5602.bindPopup(popup_31cf1b82701e53702efb98d15ca37b5f)
        ;

        
    
    
            marker_b01952b6ef7d9aa10e0bb9a769cb5602.bindTooltip(
                `<div>
                     Company L
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_c33000c1605cd51dffc24439dd28dc33 = L.marker(
                [50.6450944, 5.5736112],
                {
}
            ).addTo(map_c77369d480ef5a030998169fd83d36d5);
        
    
        var popup_ef1e49dd98a0425b5b292a699803db84 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_297a9c6bbe796fb9fc114cb69636afda = $(`<div id="html_297a9c6bbe796fb9fc114cb69636afda" style="width: 100.0%; height: 100.0%;"><b>Company M</b><br>Parklaan, 4000, Luik</div>`)[0];
                popup_ef1e49dd98a0425b5b292a699803db84.setContent(html_297a9c6bbe796fb9fc114cb69636afda);
            
        

        marker_c33000c1605cd51dffc24439dd28dc33.bindPopup(popup_ef1e49dd98a0425b5b292a699803db84)
        ;

        
    
    
            marker_c33000c1605cd51dffc24439dd28dc33.bindTooltip(
                `<div>
                     Company M
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_4220f9de7b86eaf365e61621f0f229df = L.marker(
                [50.4549568, 3.951958],
                {
}
            ).addTo(map_c77369d480ef5a030998169fd83d36d5);
        
    
        var popup_93185e95804456f86c91c120914820aa = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ac33ffca160a400e741ab107e31b96dd = $(`<div id="html_ac33ffca160a400e741ab107e31b96dd" style="width: 100.0%; height: 100.0%;"><b>Company N</b><br>Nieuwstraat, 7000, Mons</div>`)[0];
                popup_93185e95804456f86c91c120914820aa.setContent(html_ac33ffca160a400e741ab107e31b96dd);
            
        

        marker_4220f9de7b86eaf365e61621f0f229df.bindPopup(popup_93185e95804456f86c91c120914820aa)
        ;

        
    
    
            marker_4220f9de7b86eaf365e61621f0f229df.bindTooltip(
                `<div>
                     Company N
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_bf6e1dd07e32436eaa9c47ae56eb871e = L.marker(
                [50.7436672, 3.2142729],
                {
}
            ).addTo(map_c77369d480ef5a030998169fd83d36d5);
        
    
        var popup_98cfb3bf1d39d8a8f1cd9e32d287b960 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f2c0a98c5c562e90a0bb7e0b17f47904 = $(`<div id="html_f2c0a98c5c562e90a0bb7e0b17f47904" style="width: 100.0%; height: 100.0%;"><b>Company O</b><br>Rijksweg, 7700, Moeskroen</div>`)[0];
                popup_98cfb3bf1d39d8a8f1cd9e32d287b960.setContent(html_f2c0a98c5c562e90a0bb7e0b17f47904);
            
        

        marker_bf6e1dd07e32436eaa9c47ae56eb871e.bindPopup(popup_98cfb3bf1d39d8a8f1cd9e32d287b960)
        ;

        
    
    
            marker_bf6e1dd07e32436eaa9c47ae56eb871e.bindTooltip(
                `<div>
                     Company O
                 </div>`,
                {
  "sticky": true,
}
            );
        
</script>
</html>