<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c8e04eade3ada2df0126c9e28feb3fe9 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_c8e04eade3ada2df0126c9e28feb3fe9" ></div>
        
</body>
<script>
    
    
            var map_c8e04eade3ada2df0126c9e28feb3fe9 = L.map(
                "map_c8e04eade3ada2df0126c9e28feb3fe9",
                {
                    center: [50.95918663216715, 4.268531611309669],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 12,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_a8a2b6bf4029ca091bb0afcf22337c6c = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_a8a2b6bf4029ca091bb0afcf22337c6c.addTo(map_c8e04eade3ada2df0126c9e28feb3fe9);
        
    
            var marker_2d437c312b8c5049330447c3ae276b3f = L.marker(
                [50.4549568, 3.951958],
                {
}
            ).addTo(map_c8e04eade3ada2df0126c9e28feb3fe9);
        
    
        var popup_eb25727cf48c2989f8f89194c8721578 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b33a30fb7bfa130b58672a7723799ce4 = $(`<div id="html_b33a30fb7bfa130b58672a7723799ce4" style="width: 100.0%; height: 100.0%;">Company N</div>`)[0];
                popup_eb25727cf48c2989f8f89194c8721578.setContent(html_b33a30fb7bfa130b58672a7723799ce4);
            
        

        marker_2d437c312b8c5049330447c3ae276b3f.bindPopup(popup_eb25727cf48c2989f8f89194c8721578)
        ;

        
    
    
            marker_2d437c312b8c5049330447c3ae276b3f.bindTooltip(
                `<div>
                     Company N
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_90993ea78410f69f0c5ebb1b4556fa43 = L.marker(
                [50.7436672, 3.2142729],
                {
}
            ).addTo(map_c8e04eade3ada2df0126c9e28feb3fe9);
        
    
        var popup_9ccd0fc8cd5c865d5f586a712d91d8f8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_50415486e02649bac8f3f10d6b2699ab = $(`<div id="html_50415486e02649bac8f3f10d6b2699ab" style="width: 100.0%; height: 100.0%;">Company O</div>`)[0];
                popup_9ccd0fc8cd5c865d5f586a712d91d8f8.setContent(html_50415486e02649bac8f3f10d6b2699ab);
            
        

        marker_90993ea78410f69f0c5ebb1b4556fa43.bindPopup(popup_9ccd0fc8cd5c865d5f586a712d91d8f8)
        ;

        
    
    
            marker_90993ea78410f69f0c5ebb1b4556fa43.bindTooltip(
                `<div>
                     Company O
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_3a7375e1372df98af7569170d0204584 = L.marker(
                [50.6450944, 5.5736112],
                {
}
            ).addTo(map_c8e04eade3ada2df0126c9e28feb3fe9);
        
    
        var popup_75312c0beb067f5c53645cc2c4620520 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d3b890239d9f1aa5137392f0f4c94ab4 = $(`<div id="html_d3b890239d9f1aa5137392f0f4c94ab4" style="width: 100.0%; height: 100.0%;">Company M</div>`)[0];
                popup_75312c0beb067f5c53645cc2c4620520.setContent(html_d3b890239d9f1aa5137392f0f4c94ab4);
            
        

        marker_3a7375e1372df98af7569170d0204584.bindPopup(popup_75312c0beb067f5c53645cc2c4620520)
        ;

        
    
    
            marker_3a7375e1372df98af7569170d0204584.bindTooltip(
                `<div>
                     Company M
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_fa426b5f274120563ef9bea4be56b31e = L.marker(
                [50.7806267, 5.4639172],
                {
}
            ).addTo(map_c8e04eade3ada2df0126c9e28feb3fe9);
        
    
        var popup_cb6d540a8c7f752d9d82aee8cce3e161 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_438dd51a3cb89801bea6b107f9442912 = $(`<div id="html_438dd51a3cb89801bea6b107f9442912" style="width: 100.0%; height: 100.0%;">Company L</div>`)[0];
                popup_cb6d540a8c7f752d9d82aee8cce3e161.setContent(html_438dd51a3cb89801bea6b107f9442912);
            
        

        marker_fa426b5f274120563ef9bea4be56b31e.bindPopup(popup_cb6d540a8c7f752d9d82aee8cce3e161)
        ;

        
    
    
            marker_fa426b5f274120563ef9bea4be56b31e.bindTooltip(
                `<div>
                     Company L
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_cb12697d52a875568bbca1ff36c7c688 = L.marker(
                [51.003711, 5.5119472],
                {
}
            ).addTo(map_c8e04eade3ada2df0126c9e28feb3fe9);
        
    
        var popup_450a6c2196194078aff375fd40d09dab = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2b682887e5de121e4d8313e20aeb31f1 = $(`<div id="html_2b682887e5de121e4d8313e20aeb31f1" style="width: 100.0%; height: 100.0%;">Company F</div>`)[0];
                popup_450a6c2196194078aff375fd40d09dab.setContent(html_2b682887e5de121e4d8313e20aeb31f1);
            
        

        marker_cb12697d52a875568bbca1ff36c7c688.bindPopup(popup_450a6c2196194078aff375fd40d09dab)
        ;

        
    
    
            marker_cb12697d52a875568bbca1ff36c7c688.bindTooltip(
                `<div>
                     Company F
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_339f82c600a585c3c50767b9c69057fa = L.marker(
                [51.1782408, 3.7463295],
                {
}
            ).addTo(map_c8e04eade3ada2df0126c9e28feb3fe9);
        
    
        var popup_c09ab0945fc0c2a089d0e441837e8894 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a9a2801da1a45e4fa209329cae9e8e2e = $(`<div id="html_a9a2801da1a45e4fa209329cae9e8e2e" style="width: 100.0%; height: 100.0%;">Company E</div>`)[0];
                popup_c09ab0945fc0c2a089d0e441837e8894.setContent(html_a9a2801da1a45e4fa209329cae9e8e2e);
            
        

        marker_339f82c600a585c3c50767b9c69057fa.bindPopup(popup_c09ab0945fc0c2a089d0e441837e8894)
        ;

        
    
    
            marker_339f82c600a585c3c50767b9c69057fa.bindTooltip(
                `<div>
                     Company E
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_7bb0f057d6c69c2812345375fcb576d4 = L.marker(
                [50.8465573, 4.351697],
                {
}
            ).addTo(map_c8e04eade3ada2df0126c9e28feb3fe9);
        
    
        var popup_2e8d13e101be64c27ae8e59337ff4102 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5daa5e4a6b2237a4faaefe917b120e42 = $(`<div id="html_5daa5e4a6b2237a4faaefe917b120e42" style="width: 100.0%; height: 100.0%;">Company A</div>`)[0];
                popup_2e8d13e101be64c27ae8e59337ff4102.setContent(html_5daa5e4a6b2237a4faaefe917b120e42);
            
        

        marker_7bb0f057d6c69c2812345375fcb576d4.bindPopup(popup_2e8d13e101be64c27ae8e59337ff4102)
        ;

        
    
    
            marker_7bb0f057d6c69c2812345375fcb576d4.bindTooltip(
                `<div>
                     Company A
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_80689920d2002830c9a74b2139c416c2 = L.marker(
                [51.3286495, 4.9295943],
                {
}
            ).addTo(map_c8e04eade3ada2df0126c9e28feb3fe9);
        
    
        var popup_ca0e9e2144657295c239d78a34b580e3 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_836c88ae8fcc34d944d952a00a93b78c = $(`<div id="html_836c88ae8fcc34d944d952a00a93b78c" style="width: 100.0%; height: 100.0%;">Company I</div>`)[0];
                popup_ca0e9e2144657295c239d78a34b580e3.setContent(html_836c88ae8fcc34d944d952a00a93b78c);
            
        

        marker_80689920d2002830c9a74b2139c416c2.bindPopup(popup_ca0e9e2144657295c239d78a34b580e3)
        ;

        
    
    
            marker_80689920d2002830c9a74b2139c416c2.bindTooltip(
                `<div>
                     Company I
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_bd61563cd1991f4a93f7b63380f4e38d = L.marker(
                [50.8950634, 4.3173758],
                {
}
            ).addTo(map_c8e04eade3ada2df0126c9e28feb3fe9);
        
    
        var popup_f538424eecba1633851f2f4ab787f41f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e61fe38e1dcecb83ae876b7898b688c9 = $(`<div id="html_e61fe38e1dcecb83ae876b7898b688c9" style="width: 100.0%; height: 100.0%;">Company J</div>`)[0];
                popup_f538424eecba1633851f2f4ab787f41f.setContent(html_e61fe38e1dcecb83ae876b7898b688c9);
            
        

        marker_bd61563cd1991f4a93f7b63380f4e38d.bindPopup(popup_f538424eecba1633851f2f4ab787f41f)
        ;

        
    
    
            marker_bd61563cd1991f4a93f7b63380f4e38d.bindTooltip(
                `<div>
                     Company J
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_d4ba6ce031e484a1f1992989c8f24969 = L.marker(
                [51.0710875, 4.4528772],
                {
}
            ).addTo(map_c8e04eade3ada2df0126c9e28feb3fe9);
        
    
        var popup_3ae9e9e08df4787f59745c56e9e8285a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_cadb78d95f4e72bdebff4b79e9932d8f = $(`<div id="html_cadb78d95f4e72bdebff4b79e9932d8f" style="width: 100.0%; height: 100.0%;">Company H</div>`)[0];
                popup_3ae9e9e08df4787f59745c56e9e8285a.setContent(html_cadb78d95f4e72bdebff4b79e9932d8f);
            
        

        marker_d4ba6ce031e484a1f1992989c8f24969.bindPopup(popup_3ae9e9e08df4787f59745c56e9e8285a)
        ;

        
    
    
            marker_d4ba6ce031e484a1f1992989c8f24969.bindTooltip(
                `<div>
                     Company H
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_1558ce35ac6fc668a6a7cad4b2315958 = L.marker(
                [51.2172507, 2.8805494],
                {
}
            ).addTo(map_c8e04eade3ada2df0126c9e28feb3fe9);
        
    
        var popup_0a6355cff0f5b21ad36299f852f88071 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2341f5a4aa9f98f6c11a98becfb3c2ae = $(`<div id="html_2341f5a4aa9f98f6c11a98becfb3c2ae" style="width: 100.0%; height: 100.0%;">Company G</div>`)[0];
                popup_0a6355cff0f5b21ad36299f852f88071.setContent(html_2341f5a4aa9f98f6c11a98becfb3c2ae);
            
        

        marker_1558ce35ac6fc668a6a7cad4b2315958.bindPopup(popup_0a6355cff0f5b21ad36299f852f88071)
        ;

        
    
    
            marker_1558ce35ac6fc668a6a7cad4b2315958.bindTooltip(
                `<div>
                     Company G
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_8a99f7952075aa13d95ac0e4eeba7339 = L.marker(
                [51.2174764, 4.4282503],
                {
}
            ).addTo(map_c8e04eade3ada2df0126c9e28feb3fe9);
        
    
        var popup_4bcf74c07323732a691fd48230e2f387 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_fd47d63871de6ce968b8e51c1d835ff2 = $(`<div id="html_fd47d63871de6ce968b8e51c1d835ff2" style="width: 100.0%; height: 100.0%;">Company B</div>`)[0];
                popup_4bcf74c07323732a691fd48230e2f387.setContent(html_fd47d63871de6ce968b8e51c1d835ff2);
            
        

        marker_8a99f7952075aa13d95ac0e4eeba7339.bindPopup(popup_4bcf74c07323732a691fd48230e2f387)
        ;

        
    
    
            marker_8a99f7952075aa13d95ac0e4eeba7339.bindTooltip(
                `<div>
                     Company B
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_e5880120dad75865b9b587ec959782cf = L.marker(
                [50.8276429, 3.2659884],
                {
}
            ).addTo(map_c8e04eade3ada2df0126c9e28feb3fe9);
        
    
        var popup_d6952d1f0a96182ad4654581574275be = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_036621ee80ed48199ca621ac7e169d18 = $(`<div id="html_036621ee80ed48199ca621ac7e169d18" style="width: 100.0%; height: 100.0%;">Company D</div>`)[0];
                popup_d6952d1f0a96182ad4654581574275be.setContent(html_036621ee80ed48199ca621ac7e169d18);
            
        

        marker_e5880120dad75865b9b587ec959782cf.bindPopup(popup_d6952d1f0a96182ad4654581574275be)
        ;

        
    
    
            marker_e5880120dad75865b9b587ec959782cf.bindTooltip(
                `<div>
                     Company D
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_a85d1a3992fa44c1d2d7306b9a07e863 = L.marker(
                [50.9227865, 4.7019883],
                {
}
            ).addTo(map_c8e04eade3ada2df0126c9e28feb3fe9);
        
    
        var popup_84add9eddbf2f51a75848aa1a28193d7 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7435e8697b9913c40cc0ac7f52e9ebfe = $(`<div id="html_7435e8697b9913c40cc0ac7f52e9ebfe" style="width: 100.0%; height: 100.0%;">Company C</div>`)[0];
                popup_84add9eddbf2f51a75848aa1a28193d7.setContent(html_7435e8697b9913c40cc0ac7f52e9ebfe);
            
        

        marker_a85d1a3992fa44c1d2d7306b9a07e863.bindPopup(popup_84add9eddbf2f51a75848aa1a28193d7)
        ;

        
    
    
            marker_a85d1a3992fa44c1d2d7306b9a07e863.bindTooltip(
                `<div>
                     Company C
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_fd0ce44f4521ad3f14da29168f5436a6 = L.marker(
                [51.2085526, 3.226772],
                {
}
            ).addTo(map_c8e04eade3ada2df0126c9e28feb3fe9);
        
    
        var popup_5e36230d5264e193fad211cd246e371d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_4fce96424a8ef66bebfbbd576dac51b2 = $(`<div id="html_4fce96424a8ef66bebfbbd576dac51b2" style="width: 100.0%; height: 100.0%;">Company K</div>`)[0];
                popup_5e36230d5264e193fad211cd246e371d.setContent(html_4fce96424a8ef66bebfbbd576dac51b2);
            
        

        marker_fd0ce44f4521ad3f14da29168f5436a6.bindPopup(popup_5e36230d5264e193fad211cd246e371d)
        ;

        
    
    
            marker_fd0ce44f4521ad3f14da29168f5436a6.bindTooltip(
                `<div>
                     Company K
                 </div>`,
                {
  "sticky": true,
}
            );
        
</script>
</html>